@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
   background-image: linear-gradient(to top, #00e6c467, #A0FFF0);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #116B5E;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #116B5E;
    text-align: center;
    text-shadow: 1px 1px 5px #00e6c467;

}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #00A68D;

}

p {
    text-align: justify;
}